body {
    color:white;
    background: black;
    }

    header{
        border: solid 2px white;
    }


section {
    background: rgba(110, 4, 4, 0.87);
    padding-bottom: 80px;
    padding-top: 80px;
}

.chamada-texto{
    margin-right: 20px;
}

h1{
    font-size: 40px;
}